<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Record Management</title>
</head>
<body>
    <h1>CSV Record Management</h1>

    <h2>Actions</h2>
    <ul>
        <li><a href="/read">Read Record</a></li>
        <li><a href="/insert">Insert Record</a></li>
        <li><a href="/update">Update Record</a></li>
        <li><a href="/remove">Remove Record</a></li>
        <li><a href="/average">Average </a></li>
    </ul>
</body>
</html>
